#!/bin/bash

if [ -f ~/.githooks/coveralls.gpg ]; then
	COVERALLS_REPO_TOKEN="$(gpg -d -q "$HOME"/.githooks/coveralls.gpg)"
	export COVERALLS_REPO_TOKEN
fi
PIPENV_VENV_IN_PROJECT=1

export PIPENV_VENV_IN_PROJECT
