#!/bin/bash

if [ -f ~/.githooks/coveralls.gpg ]; then
	COVERALLS_REPO_TOKEN="$(gpg -d -q "$HOME"/.githooks/coveralls.gpg)"
	export COVERALLS_REPO_TOKEN
fi

JENKINS_USER_ID=$(pass show jenkins/userid)
JENKINS_URL=$(pass show jenkins/url)
JENKINS_PASSWORD=$(pass show jenkins/pass)
PIPENV_VENV_IN_PROJECT=1

export PIPENV_VENV_IN_PROJECT
